.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #173B45;
    padding: 20px;
}

/* Style the logo */
.logo img {
    max-height: 40px; /* Adjust as needed */
    /* padding: 5px; */
}

/* Style the navigation links */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Style the login and register buttons */
.login-register a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

/* Responsive adjustments */
@media screen {
    .login-register {
        margin-left: auto;
    }
}